<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="text_container">

      <div class="title">
        <h1>show all owners</h1>
      </div>

      <div class="list">
        <%@owners.each do |owner| %>
            <li><a href="/owners/<%= owner.id %>"><%= owner.name %></a></li>
        <% end %>
      </div>

    </div>
  </body>
</html>
