<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>show all owners</h1>
    <%@owners.each do |owner| %>
        <p><a href="/owners/<%= owner.id %>"><%= owner.name %></a></p>
    <% end %>
  </body>
</html>
