<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="index-container">
    <h1>Dashboard</h1>
    <div class="index-links">
      <a href="/dogs" class="index-button"><h3>View Dogs</h3></a>
      <a href="/owners" class="index-button"><h3>View Owners</h3></a>
    </div>
    </div>
  </body>
</html>
