<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>show all dogs</h1>
      <% @dogs.each do |dog| %>
      <p><%= dog.name %></p>
      <% end %>
  </body>
</html>
