<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>show all dogs</h1>

    <main>
      <div class="container">

          <div class="profile_image">
            <% @dogs.each do |dog| %>
                <ul><img src="/images/<%= dog.image_name %>.jpg" alt="dog profile image"></ul>
            <% end %>
          </div>

          <div class="profile_name">
            <% @dogs.each do |dog| %>
              <ul><a href="/dogs/<%= dog.id %>"><%= dog.name %> </a></ul>
            <% end %>
          </div>

      </div>


    </main>

  </body>
</html>
