<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a new owner</title>
  </head>
  <body>

    <div class="title">
      <h1>add a new owner</h1>
    </div>

    <div class="owner_form_container">
      <form method="POST" action="/owners">

        <div class="block">
          <label for="name">Full Name:</label>
            <input type="text" name="name">
        </div>

        <div class="block">
          <label for="email">Email:</label>
            <input type="email" name="email">
        </div>

        <div class="block">
          <label for="phone">Phone:</label>
            <input type="tel" name="phone">
        </div>

        <div class="block">
          <label for="has_cats">Has cats?</label>
            <input type="hidden" name="has_cats" value="false" id="has_cats">
            <input type="checkbox" name="has_cats" value="true" id="has_cats">
        </div>

        <div class="block">
          <label for="has_other_dogs">Has other dogs?</label>
            <input type="hidden" name="has_other_dogs" value="false" id="has_other_dogs">
            <input type="checkbox" name="has_other_dogs" value="true" id="has_other_dogs">
        </div>

        <div class="block">
          <label for="has_other_dogs">Has children?</label>
            <input type="hidden" name="has_children" value="false" id="has_children">
            <input type="checkbox" name="has_children" value="true" id="has_children">
        </div>

        <div class="block">
          <label for="bio">Notes:</label>
            <textarea name="bio"></textarea>
        </div>

        <div class="button">
          <div class="form_button">
            <input type="submit" value="Add Owner">
          </div>
        </div>

      </form>
    </div>

  </body>
</html>
