<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dogs</title>
  </head>
  <body>

    <h1 class="title">all dogs</h1>

    <main>
          <div class="dog_profiles">
            <% @dogs.each do |dog| %>
              <div class="dog_profile_single">
                <a href="/dogs/<%= dog.id %>"><img src="/images/<%= dog.image_name %>.jpg" alt="dog profile image"></a>
                <a href="/dogs/<%= dog.id %>"><%= dog.name %> </a>
              </div>
            <% end %>
          </div>
    </main>

  </body>
</html>
