* {
	padding: 0;
	margin: 0;
}

h1,
h2 {
	font-family: "Crimson Text", serif;
}

body {
	font-family: "Karla", sans-serif;
	color: #162318;
}

nav {
	display: flex;
	justify-content: flex-end;
	background-color: #e29578;
	width: 100%;
}

nav ul {
	list-style-type: none;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav a {
	text-decoration: none;
	color: #162318;
}

nav a:hover {
	text-decoration: none;
	color: #162318;
}

a:link {
	color: #162318;
}

a:visited {
	color: #162318;
}

.h3,
a {
	text-underline-position: under;
	text-decoration: underline #e29578;
}

.title {
	padding: 4%;
	display: flex;
	justify-content: center;
}

.title-content {
	flex-direction: column;
	align-items: center;
	display: flex;
}

.title-content h1 {
	margin: 8px;
}

.title-content h3 {
	margin: 8px;
}

.owner_list {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 2.5;
}

.dog_details_container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 18px;
	line-height: 2.5;
}

.dog_profile_image {
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dog_profile_image h4 {
	justify-self: center;
	padding: 15px;
}

.dog_primary_details {
	justify-self: center;
}

.dog_secondary_details {
	justify-self: center;
}

.dog_third_details {
	justify-self: center;
}

.list {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	line-height: 2.5;
}

.dog_profiles {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	padding-left: 150px;
}

.dog_profile_single {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.dog_profile_single a {
	text-align: center;
	padding-top: 18px;
	font-size: 20px;
	text-decoration: none;
	font-family: "Crimson Text", serif;
	letter-spacing: 0.02em;
}

img {
	width: 310px;
	box-shadow: 10px 10px #ffddd2;
}

.dog_form_container {
	background-color: #edf6f9;
	padding-left: 150px;
	font-size: 18px;

	line-height: 2.5;
}

.owner_form_container {
	background-color: #edf6f9;
	padding-left: 150px;
	font-size: 18px;

	line-height: 2.5;
}

.owner_details_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
	line-height: 2.5;
}

.reserved-dogs {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: dashed;
	padding: 15px;
	margin: 20px;
	border-color: antiquewhite;
	width: 500px;
}

.owner_col_one {
	justify-self: center;
}

.owner_col_two {
	justify-self: center;
}

.update_owner_details {
	padding-left: 150px;
	width: 100%;
}

.update_dog_details_button {
	padding-left: 150px;
	width: 100%;
}

form {
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 2.5;
}

label {
	display: inline-block;
	width: 140px;
	text-align: right;
	padding-right: 10px;
}
​ input[type="checkbox"] {
	margin-left: 10px;
}

.form_button {
	padding-left: 156px;
	padding-top: 10px;
}

.delete_button {
	display: flex;
	justify-content: center;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="Email"] {
	border: solid;
	border-width: 1px;
	border-color: #83c5be;
	width: 12%;
	padding: 4px 2px;
	font-size: 14px;
}

textarea {
	border: solid;
	border-width: 1px;
	border-color: #83c5be;
	font-size: 14px;
	width: 40%;
	height: 25px;
	text-indent: 10px;
	resize: none;
	padding-top: 10px;
	margin-top: 10px;
}

.select_options {
	letter-spacing: 0.05em;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-color: #83c5be;
	width: 12.5%;
	padding: 4px 2px;
	font-size: 14px;
}

input[type="submit"] {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.07em;
	width: 15%;
	background-color: #006d77;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.divider {
	display: flex;
	justify-content: center;
	width: 100%;
}

hr {
	border: solid 1px;
	border-color: #ffddd2;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 70%;
}

.index-container {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.index-links {
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
}

.index-links h3 {
	padding: 10px;
}

.pooch_matches {
	border: antiquewhite;
	border-style: solid;
	padding: 25px;
	width: 260px;
}
