<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Owners</title>
  </head>
  <body>

    <div class="title">
      <h1>owners</h1>
    </div>

    <div class="owner_container">
      <div class="owner_list">
        <%@owners.each do |owner| %>
            <div class="owner_name">
              <a href="/owners/<%= owner.id %>"><%= owner.name %></a>
            </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
